.page {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
 }

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #F3EFE0;
    font-family: 'IBM Plex Mono', monospace;

}

a:visited, a:link, a:hover {
    color: #404E7C;
  }
  a:active {
      background-color: #F08080;
  }

.watch {
    text-align: center;
    font-size: 23px;
    background-color: #404E7C;
    width: 100%;
    max-width: 760px;
    margin: 4rem auto;
    padding: 2rem 2rem;
    border-radius: 1rem;
    color: #f8f8f8;
}

.music {
    text-align: center;
}

.timer{
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    font-size: 150px;
}

.menu {
    text-align: right;
    font-size: 23px;
    position: fixed; 
    bottom: 2rem;
    right: 1rem;
}

ul {
    text-align: left;
}

.ball {
    border-radius: 100%;
    opacity: 0.2;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
  }

.about,.tab {
    text-align: center;
    font-size: 23px;
    background-color: #EDF8FD;
    width: 100%;
    max-width: 760px;
    margin: 4rem auto;
    padding: 2rem 2rem;
    border-radius: 1rem;
    color: #404E7C;
}

.tab {
    background-color: #FFD6F5;
}

.footer {
    text-align: center;
    font-size: 10px;
    width: 100%;
    max-width: 300px;
    margin: 4rem auto;
    padding: 2rem 2rem;
    border-radius: 1rem;
    color: #404E7C;
}

.hire-button {
    background-color: #F08080;
    color:#EDF8FD;
    font-size: 10px;
    border-radius: 8px;
    border-width: 0;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
    margin-left: 5px;
    
}

@media screen and (max-width: 767px) {
    .watch,.about,.tab  {
        max-width: 250px;
        font-size: 15px;
  
    }
    .timer{
        font-size: 30px;
    }
    .ball, .menu {
        display: none;
    }


  }